select {
    margin-bottom: 1rem;
}
button {
    margin-bottom: 1rem;
}
.options {
 margin-left: -0.6rem;
}
h2{
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.alert{
    size:0.5rem;
}

